<ion-header>
  <ion-toolbar>
    <ion-title>historias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
  
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3>Consultorio de Fisioterapia</h3>
          <strong>CF</strong>
        </div>
  
        <ul class="list-unstyled components">
            
          <li>
            <a (click)="iradasboard()" routerLinkActive="active">
              <i class="fas fa-briefcase"></i>
              Dashboard
            </a>
            <a (click)="nuevaCita()" routerLinkActive="active">
              <i class="fas fa-briefcase"></i>
              Agenda
            </a>
            <a (click)="listadeHistorias()" routerLinkActive="active">
              <i class="fas fa-copy"></i>
              Historial
            </a>
                  
          </li>
            <li>
              <a (click)="listadePacientes()" routerLinkActive="active">
                <i class="fas fa-image"></i>
                Pacientes
              </a>
            </li> 
          </ul>
  
          <ul class="list-unstyled CTAs">
            <li>
              <a href="#" class="article" routerLinkActive="active">Inicio</a>
            </li>
          </ul>
      </nav>
  
      <!-- Page Content  -->
      <div id="content">
  
        
      </div>
    </div>
  
  
  </ion-content>
  

</ion-content>
